# USA Name Data - kaggle - test
----

### Analysis
*

In [16]:
# ******************************************************************************
# Dependencies and Setup
# ******************************************************************************
import pandas as pd

from google.cloud import bigquery
client = bigquery.Client()

sql = """
    SELECT state, year, SUM(number) as count
    FROM `bigquery-public-data.usa_names.usa_1910_current`
    GROUP BY year, state
    ORDER BY state ASC
    LIMIT 10
"""

usa_name_data_df = client.query(sql).to_dataframe()

usa_name_data_df.head()

  state  year  count
0    AK  1919    414
1    AK  1913    110
2    AK  1983   8511
3    AK  2017   5107
4    AK  2016   5644